<!-- Dieser DIV-Block wird nur angezeigt, wenn die aktuelle URL die Startseite ('/') ist -->
<div *ngIf="router.url === '/'">

  <h1>MENÜ</h1>

  <!-- Navigationsbuttons für verschiedene Aktionen -->
  <!-- Jeder Button verwendet routerLink, um zur entsprechenden Seite zu navigieren -->
  <!-- Button zur Anzeige des Dashboards. Leitet zur Route '/displayDashboard' -->
  <button routerLink="/displayDashboard"> Dashboard anzeigen </button>
  <br />

  <!-- Button zum Hinzufügen eines neuen Dashboards. Leitet zur Route '/addDashboard' -->
  <button routerLink="/addDashboard"> Dashboard hinzufügen </button>
  <br />

  <!-- Button zum Updaten eines vorhandenen Dashboards. Leitet zur Route '/updateDashboard' -->
  <button routerLink="/updateDashboard"> Dashboard updaten </button>
  <br />
</div>

<!-- Router-Outlet: Hier wird der Inhalt der aktuellen Route gerendert, z. B. die ausgewählte Seite oder Komponente -->
<router-outlet></router-outlet>
