body {
  font-family: 'Arial';
  background-color: #f4f4f4;
  color: #6c6d6f;
}

table {
  border-spacing: 5px;
  font-family: 'Arial';
  width: 100%;
 }

td {
  text-align: center;
}

.hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.short_td_board {
  width: 10%;
}

.td_board {
  width: 40%;
}

.short_td_add {
  width: 5%;
}

.color_td_add {
  width: 28%;
}

.opc_td_add {
  width: 57%;
}

.save_td_add {
  width: 10%;
}

.short_td_up {
  width: 5%;
}

.color_td_up {
  width: 35%;
}

.opc_td_up {
  width: 40%;
}

.save_td_up {
  width: 10%;
}

button {
  margin: 5px;
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

  button:hover {
    background-color: #f56600;
  }

  button:disabled {
    background-color: #6c6d6f;
    cursor: not-allowed;
  }

input[type="text"], input[type="file"], input[type="number"] {
  margin: 5px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #6c6d6f;
  border-radius: 4px;
  background-color: #ffffff;
  color: #6c6d6f;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

input[type="number"] {
  width: 57%;
}

input[type="text"].short {
  width: 15%;
}

input[type="text"].mid {
  width: 53%;
}

input[type="text"].large {
  width: 90%;
}

input:focus {
  border-color: #f56600;
  outline: none;
  box-shadow: 0 0 4px rgba(245, 102, 0, 0.5);
}

.input {
  min-height: 22px;
}

.container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.edit-container {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #6c6d6f;
  font-family: 'Arial';
  font-weight: bold;
}

.list {
  min-width: 40%;
}

h1, h2, h3, p {
  color: #6c6d6f;
  font-weight: bold;
  font-family: 'Arial';
}

.head {
  color: #6c6d6f;
  font-weight: bold;
  font-family: 'Arial';
  padding-left: 5px;
}


/*#####################################################*/
/*Ab hier nichts ändern!*/
.color-input {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.ampel {
  margin: 5px;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.color-tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.color-tag {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%; /* Setzt die Ecken auf einen Kreis */
  color: white;
  cursor: pointer;
}

  .color-tag:hover {
    opacity: 0.3;
  }
