<router-outlet></router-outlet>

<div *ngIf="selectedID === 0">

  <button routerLink="/">Menü</button>
  <!-- Dieser Block wird angezeigt, wenn selectedID gleich 0 ist: Kein Board ausgewählt -->

  <p>Bitte Dashboard zum Berabeiten ausgewählen:</p>

  <div *ngIf="Dashboards.length > 0; else noData">
    <div>
      <!-- Schleife durch die Dashboards-Liste und zeige nur die Namen an -->
      <div *ngFor="let dashboard of Dashboards">
        <!-- Auswahl-Button, der beim Klicken die Methode viewBoard mit der ID + IMG des Dashboards aufruft -->
        <button (click)="viewBoard(dashboard.ID, dashboard.NAME, dashboard.IMG_PATH)">{{ dashboard.NAME }} Auswählen</button>
      </div>
    </div>
  </div>

  <!-- Fallback-Nachricht: Falls keine Dashboards-Daten vorhanden sind, wird dieser Inhalt (ng-template) angezeigt -->
  <!-- Das #noData-Template wird verwendet, wenn Dashboards leer ist -->
  <ng-template #noData>
    <p>Keine Dashboards gefunden.</p>
  </ng-template>

</div>




<div *ngIf="selectedID > 0">
  <!-- Dieser Block wird angezeigt, wenn selectedID größer als 0 ist: Board ausgewählt mit selectedID=ID -->
  <div class="menu">
    <button routerLink="/">Menü</button>
    <button (click)="clearID()">Auswahl aufheben</button>
  </div>


  <div class="list">
    Dashboard bearbeiten:
    <table>
      <tr>
        <th>Dashboard Name</th>
        <th>Hallenlayout</th>
      </tr>
      <tr>
        <td>
          <input [(ngModel)]="selectedNAME" type="text" required palceholder="Dashboard Name" value="{{ selectedNAME }}" />
        </td>
        <td>
          <input type="text" required disabled value="{{ selectedIMG }}" />
        <td>
        <td>
          <button (click)="updateBoard(selectedID)">Update</button>
        </td>
        <td>
          <button (click)="deleteBoard(selectedID)">Löschen</button>
        <td>
      </tr>
    </table>
  </div>
  <hr>

  <div class="list">
    Ampel hinzufügen:
    <table>
      <tr>
        <th>x-Position</th>
        <th>y-Position</th>
        <th>Größe</th>
        <th>Farben</th>
        <th>OPC-Bit Addressen</th>
      </tr>
      <tr class="ampelEdit">
        <td>
          <input type="number" required placeholder="X-Position in %" [(ngModel)]="POS_Xnew" />
        </td>
        <td>
          <input type="number" required placeholder="Y-Position in %" [(ngModel)]="POS_Ynew" />
        </td>
        <td>
          <input type="number" required placeholder="Größe in px" [(ngModel)]="SIZEnew" />
        </td>
        <td>
          <!--<input type="text" required placeholder="Frabe,Farbe,Farbe..." [(ngModel)]="COLORSnew" />-->

          <div class="color-input">
            <div class="ampel">
              <div class="color-tags">
                <span *ngFor="let color of colorsNew; let i = index"
                      [style.backgroundColor]="color"
                      class="color-tag"
                      (click)="removeColor(i)">
                </span>
              </div>
              </div>

                <!-- Verstecktes Farbauswahlfeld -->
                <input type="color"
                       id="color-picker"
                       [(ngModel)]="selectedColor"
                       (change)="addColor()"
                       style="display: none;" />

                <!-- Button mit "+" Symbol -->
                <button (click)="openColorPicker()"
                        [disabled]="colorsNew.length >= maxColors"
                        class="add-color-btn">
                  Add
                </button>
              </div>

              <!--<p *ngIf="colorsNew.length === maxColors" style="color: red;">
        Du kannst maximal 6 Farben auswählen!
      </p>
      <p *ngIf="colorsNew.length === 0" style="color: red;">
        Bitte wähle mindestens eine Farbe aus.
      </p>-->
</td>
        <td>
          <input type="text" required placeholder="A8.1,A8.2..." [(ngModel)]="OPC_BITnew" />
        </td>
        <td>
          <button (click)="addAmpel(selectedID)">Hinzufügen</button>
        </td>
      </tr>
    </table>
  </div>
  <hr>

  <!-- Überprüfe, ob die Ampel-Daten erfolgreich geladen wurden -->
  <!-- Dieser Block wird nur angezeigt, wenn mindestens ein Ampel-Element in der Ampel-Liste vorhanden ist -->
  <div *ngIf="Ampeln.length > 0; else noDataAmpel">
    <div class="list">
      Ampeln bearbeiten:
      <table>
        <tr>
          <th>ID</th>
          <th>x-Position</th>
          <th>y-Position</th>
          <th>Größe</th>
          <th>Farben</th>
          <th>OPC-Bit Addressen</th>
        </tr>
        <!-- Schleife durch die Ampel-Liste und zeige für jedes Element die Inhalte an -->
        <!-- *ngFor iteriert über jedes Ampel-Objekt und zeigt dessen Eigenschaften an -->
        <tr class="ampelEdit" *ngFor="let ampel of Ampeln; let i = index">
          <td>
            {{ ampel.POS_X }}
          </td>
          <td>
            <input [(ngModel)]="ampel.POS_X" type="number" required palceholder="X-Position in %" value="{{ ampel.POS_X }}" />
          </td>
          <td>
            <input [(ngModel)]="ampel.POS_Y" type="number" required palceholder="Y-Position in %" value="{{ ampel.POS_Y }}" />
          </td>
          <td>
            <input [(ngModel)]="ampel.SIZE" type="number" required palceholder="Größe in %" value="{{ ampel.SIZE }}" />
          </td>
          <td>
            <input [(ngModel)]="ampel.COLORS" type="text" required placeholder="Frabe,Farbe,Farbe..." value="{{ ampel.COLORS }}" />
          </td>
          <td>
            <input [(ngModel)]="ampel.OPC_BIT" type="text" required placeholder="BIT,BIT,BIT..." value="{{ ampel.OPC_BIT }}" />
          </td>

          <!-- Buttons für Update und Löschen -->
          <td>
            <button (click)="updateAmpel(ampel.ID, ampel)">Update</button>
          </td>
          <td>
            <button (click)="deleteAmpel(ampel.ID)">Löschen</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Fallback-Nachricht: Falls keine Ampel-Daten vorhanden sind, wird dieser Inhalt (ng-template) angezeigt -->
  <!-- Das #noDataAmpel-Template wird verwendet, wenn Ampeln leer ist -->
  <ng-template #noDataAmpel>
    <p>Keine Ampeln gefunden.</p>
  </ng-template>






  




</div>
